<!DOCTYPE html>
<html>
<head>
<title>Alpha-Blog About Page</title>
</head>
<body>

<h1>Welcome to the Alpha-Blog about page.</h1>
<p>Here we will tell you all about us.</p>

<%= link_to 'Home', root_path %>

</body>
</html>