<!DOCTYPE html>
<html>
<head>
<title>Alpha-Blog Home Page</title>
</head>
<body>

<div class="center jumbotron">
  <div class="container">
    <h1>ALPHA-BLOG</h1>
    <p>Here we will discuss all things worth discussing.</p>
  
    <%= link_to "Sign-up Now", "#", class: "btn btn-primary btn-xlarge"  %>
  </div>
</div>



</body>
</html>