<!DOCTYPE html>
<html>
<head>
<title>Alpha-Blog Home Page</title>
</head>
<body>

<h1>Welcome to the Alpha-Blog home page.</h1>
<p>Here we will discuss all things worth discussing.</p>

<%= link_to 'About', about_path %>

</body>
</html>