<div class="container">
  <footer class="footer">
    <small>
      <a href="http://ryecrowendesign.com">Alpha-Blog project by Rye Crowen • 2016</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>